<pianola>
	<robots>
		<igor>
			<part name="head">
				<servo first="X" second="Y" />
			 	<reverse first="true" second="false" />
			 	<firstConstraint min="127" max="127" />
			 	<secondConstraint min="127" max="127" />
				<firstLimit min="60" max="60" />
				<secondLimit min="127" max="127" />
				<offset first="-5" second="0" />
			</part>
			<part name="armRightUpper">
			 	<servo first="Y" second="X" />
			 	<reverse first="true" second="false" />
				<offset first="20" second="-25" />
				<firstLimit min="127" max="127" />
				<secondLimit min="127" max="127" />
			</part>
			<part name="armRightLower">
			 	<servo first="X" />
			 	<reverse first="true" />
				<offset first="30" second="0" />
			</part>

			<part name="armLeftUpper">
			 	<servo first="Y" second="X" />
			 	<reverse first="true" second="true" />
				<firstLimit min="127" max="127" />
				<secondLimit min="127" max="127" />
				<offset first="-35" second="-25" />
			</part>
			<part name="armLeftLower">
			 	<servo first="X" />
			 	<reverse first="true" />
				<offset first="30" />
			</part>

			<part name="legRightUpper">
			 	<servo first="x" second="y"/>
			 	<reverse first="false" />
				<offset first="-5" second="-30" />
			</part>
			<part name="legRightLower">
			 	<servo first="x" />
			 	<reverse first="true" />
				<offset first="-25" />
			</part>
			<part name="legLeftUpper">
			 	<servo first="x" second="y"/>
			 	<reverse first="false" second="true"/>
				<offset first="5" second="30" />
			</part>
			<part name="legLeftLower">
			 	<servo first="x" />
			 	<reverse first="false" />
				<offset first="35" />
			</part>
		</igor>
	</robots>

	<virtual>
		<Vir1 />
		<Vir2 />
		<Vir3 />
		<Vir4 />
	</virtual>
</pianola>