<pianola>
	<robots>
		<igor>
			<part name="head">
				<servo first="Rot" second="X" />
			 	<reverse first="true" second="false" />
			 	<firstConstraint min="127" max="127" />
			 	<secondConstraint min="127" max="127" />
			 	<firstLimit min="100" max="100" />
			 	<secondLimit min="65" max="65" />
			</part>
			<part name="armRightUpper">
			 	<servo first="Rot" second="Y" />
			 	<reverse first="true" second="false" />
			</part>
			<part name="armRightLower">
			 	<servo first="X" />
			 	<reverse first="true" />
			</part>
			<part name="handRight">
			 	<servo first="X" />
			 	<reverse first="true" />
			</part>
			<part name="armLeftUpper">
			 	<servo first="Rot" second="Y" />
			 	<reverse first="false" second="true" />
			</part>
			<part name="armLeftLower">
			 	<servo first="X" />
			 	<reverse first="true" />
			</part>
			<part name="handLeft">
			 	<servo first="X" />
			 	<reverse first="false" />
			</part>
			<part name="legRightUpper">
			 	<servo first="x" />
			 	<reverse first="false" />
			</part>
			<part name="legRightLower">
			 	<servo first="x" />
			 	<reverse first="false" />
			</part>
			<part name="legLeftUpper">
			 	<servo first="x" />
			 	<reverse first="false" />
			</part>
			<part name="legLeftLower">
			 	<servo first="x" />
			 	<reverse first="false" />
			</part>
		</igor>
	</robots>

	<virtual>
		<Vir1 />
		<Vir2 />
		<Vir3 />
		<Vir4 />
	</virtual>
</pianola>